Source: lliurex-gcompris-qt-voices
Section: education
Priority: optional
Maintainer: M.Angel Juan <m.angel.juan@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://gcompris.net

Package: lliurex-gcompris-qt-voices
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, lliurex-gcompris-qt
Description: Voices for gcompris-qt
 Voices for the educational game gcompris-qt
